
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- don't forget to write stuff in here -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>MSF ImpactMap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <!-- Style for DatePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css" />

    <!-- Style for Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />

  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">

      </div>

      <!-- form below POSTS collected info to search -->
      <form action="/search" method="post">

        <div class="form-group">

          <div class="form-group">

            <!-- Region selector, could be populated by @jazon's code -->
            <select name="region" class="form-control js-example-basic-single">
              <option value="CAF">Central African Republic</option>
              <option value="NI">Niger</option>
              <option value="BF">Burkina Faso</option>
              <option value="MA">Mali</option>
            </select>
          </div>

          <div class="form-group">
            <!-- date submission-->
            <div class="input-group input-daterange">

            <input name="start_date" type="text" class="form-control" value="Select start date" readonly>
            <span class="input-group-addon">to</span>

            <input name="end_date" type="text" class="form-control" value="Select end date" readonly>
            </div>
          </div>

        <!-- submission button -->
        <!-- note: must be <input> not <div> for button to work -->
        <input type="submit" class="btn btn-large btn-success"></input>

        </div>

      </form> <!-- form ends here -->

    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

    <!-- JQuery import via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

    <!-- Datepicker JS, autoclose set to true for the window to close after selection -->
    <script>
    $('.input-group.input-daterange').datepicker({
      autoclose: true      
      });
    </script>

    <!-- Select2 JS -->
    <script type="text/javascript">
    $(document).ready(function() {
      $(".js-example-basic-single").select2();
      }      
    );
    </script>

  </body>
</html>
