body {
  background-image: url("{{ url_for('static', filename='images/earth-space.jpg') }}");
  background-attachment: fixed;
}

p {
  font-size: 18px;
  margin-bottom: 50px;
}

h1.title {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
}

h1.title-bar {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

ul {
  font-size: 18px;
}

h1 span {
  font-weight: 900;
}

h2 {
  margin-bottom: 45px;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  font-size: 20px;
}

.container-content {
  background-color: white;
  padding: 50px;
  margin-top: 50px;
  border-radius: 4px;
  text-align: justify;
  margin-bottom: 70px;
}