h1.title {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  margin-top: -30px;
  margin-bottom: 120px;
}

h1.title-bar {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin-bottom: 75px;
    margin-top: -30px;
}

h1 span {
  font-weight: 900;
}

#banner {
  margin-top: -20px;
}

.Count {
  font-size: 3.8vw;
}

.stat {
  text-align: center;
  margin-top: 100px;
  height: 250px;
}

/*.stat-mid {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.stat-mid-right {
  border-right: 1px solid lightgray;
} */

.color1 {
  background-color: gray;
}

.stat-title {
  margin-bottom: 30px;
  margin-top: 100px;
}

.stat-row {
  text-align: center;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.footer {
  margin-top: 150px;
  text-align: center;
}

.img-responsive {
    min-width: 100%;
}

.map {
  margin: -50px 0 0 0;
  width: 50%;
  padding: 1px;
}

@media only screen and (max-width: 1200px) {
  .stat-mid {
    border: none;
  }
  .stat-mid-right {
    border: none;
  }
  .col-lg-6 {
    width: 100%;
  }
}
