
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- don't forget to write stuff in here -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>MSF ImpactMap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Bootstrap lib style for this template -->
    <link href="{{ url_for('static', filename='css/usebootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom extra styla for this template -->
    <link href="{{ url_for('static', filename='css/add-custom.css') }}" rel="stylesheet">

    <!-- Style for DatePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css" />

    <!-- Style for Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />

    <!-- Style for Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <!-- Style for Mapbox -->
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.1/mapbox-gl.css' rel='stylesheet' />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container-fluid">

        <div class="row">
          <div class="col-lg-6 map">
            <h2>Before</h2>
            <div id="oldmap"></div>
          </div>
          <div class="col-lg-6 map">
            <h2>After</h2>
            {% if difference_isEmpty %}
            <div id="empty_map"></div>
            {% endif %}
            <div id="map"></div>
          </div>
        </div>

        <div class="row">

          <div class="superrow">
            <div class="row wikipedia">
              <div class="col-md-6 col-md-offset-3">
                <a href="https://en.wikipedia.org/wiki/{{ country.name }}" target="_blank"><h3>Learn more about {{ country.name }} on Wikipedia  &#8594;</h3></a>
              </div>
            </div>
          </div>

      <a href="#link-to-wikipedia"><div class="row row-maps" alt="Go to Wikipedia">

          </div>
          <div class="col-lg-2 stat color1" id="count1">
            <img src="{{ url_for('static', filename='images/earth.png') }}" alt="" class="icon" />
            <h3><span id="area">0</span> km<sup>2</sup></h3>
            <h4>area added to the map</h2>
          </div>

          <div class="col-lg-2 stat stat-mid" id="count2">
            <img src="{{ url_for('static', filename='images/group.png') }}" alt="" class="icon" />
            <h3 id="population"><span>0</span></h3>
            <h4>people added to the map</h2>

          </div>

          <div class="col-lg-2 stat stat-mid-right" id="count3">
            <img src="{{ url_for('static', filename='images/bathroom-faucet-tool.png') }}" alt="" class="icon" />
            <h3 id="water"><span>0</span></h3>
            <h4>people without clear water</h4>

          </div>
          <div class="col-lg-2 stat stat-mid-right" id="count4">
            <img src="{{ url_for('static', filename='images/old-mobile.png') }}" alt="" class="icon" />
            <h3 id="mobile"><span>0</span></h3>
            <h4>people without mobile subscription</h4>

          </div>


          <div class="col-lg-2 stat stat-mid-right" id="count5">
            <img src="{{ url_for('static', filename='images/first-aid-kit.png') }}" alt="" class="icon" />
            <h3 id="hospital"><span>0</span></h3>
            <h4>new hospitals put on map</h4>
          </div>

          <div class="col-lg-2 stat" id="count6">

              <img src="{{ url_for('static', filename='images/uni.png') }}" alt=""class="icon"  />
              <h3 id="school"><span>0</span></h3>
              <h4>new schools put on map</h4>
          </div>

    </div>

  </a>

</div> <!-- row ends here -->

<div class="row footer">
  <div class="col-md-6 col-md-offset-3">
    <a href="/about"><h4>ImpactMap, Smart Data Hack 2016, Edinburgh</h4></a>
  </div>
</div>

     <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>

    <!-- JQuery import via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

    <script src="{{ url_for('static', filename='js/countUp.js') }}"></script>

    <!-- Leaflet JS import -->

    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-osm/v0.1.0/leaflet-osm.js'></script>

     <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.1/mapbox-gl.js'></script>

    <script>
        /*

        var xmlhttp = new XMLHttpRequest();
        var url = "/geojson.json";

        var geojson;

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var geojson = JSON.stringify(JSON.parse(xmlhttp.responseText));
                console.log(geojson)
            }
        };

        xmlhttp.open("GET", url, true);
        xmlhttp.send();

          L.mapbox.accessToken = 'pk.eyJ1IjoiamF6b25zeiIsImEiOiJjaWtzZ2J2N3kwMDFpdzBqNzF6eGY3bGNzIn0.oeMS0nJIKd-V65U1wazozA';

        var geojson = [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [-77.03238901390978,38.913188059745586]
            },
            "properties": {
              "title": "Mapbox DC",
              "description": "1714 14th St NW, Washington DC",
              "marker-color": "#fc4353",
              "marker-size": "large",
              "marker-symbol": "monument"
            }
          },
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [-122.414, 37.776]
            },
            "properties": {
              "title": "Mapbox SF",
              "description": "155 9th St, San Francisco",
              "marker-color": "#fc4353",
              "marker-size": "large",
              "marker-symbol": "harbor"
            }
          }
        ];

        L.mapbox.map('map', 'mapbox.streets')
        .setView([37.8, -96], 4)
        .featureLayer.setGeoJSON(geojson);*/

    </script>

    <script>
    var southWest = L.latLng({{min_lon}}, {{min_lat}}),
    northEast = L.latLng({{max_lon}}, {{max_lat}}),
    bounds = L.latLngBounds(southWest, northEast);

    L.mapbox.accessToken = 'pk.eyJ1IjoiamF6b25zeiIsImEiOiJjaWtzZ2J2N3kwMDFpdzBqNzF6eGY3bGNzIn0.oeMS0nJIKd-V65U1wazozA';
    var map = L.mapbox.map('map', 'mapbox.light', { maxBounds : bounds, minZoom : 15 });

    var oldmap = L.mapbox.map('oldmap', 'mapbox.light', { maxBounds : bounds, minZoom : 15 });

    oldmap.setView({{ start_coord }}, 16);
    map.setView({{ start_coord }}, 16);

    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();

    oldmap.touchZoom.disable();
    oldmap.doubleClickZoom.disable();
    oldmap.scrollWheelZoom.disable();

    map.on('moveend', follow).on('zoomend', follow);
    oldmap.on('moveend', follow).on('zoomend', follow);

    var quiet = false;
    function follow(e) {
        if (quiet) return;
        quiet = true;
        if (e.target === map) sync(oldmap, e);
        if (e.target === oldmap) sync(map, e);
        quiet = false;
    }

    function sync(map, e) {
        map.setView(e.target.getCenter(), e.target.getZoom(), {
            animate: false,
            reset: true
        });
    }
    </script>

    {% for node in ways_old %}
    <script>
        $.ajax({
            url: "https://www.openstreetmap.org/api/0.6/way/{{ node }}/full",
            dataType: "xml",
            success: function (xml) {
                var oldlayer = new L.OSM.DataLayer(xml).addTo(oldmap);
                var layer = new L.OSM.DataLayer(xml).addTo(map);
                layer.setStyle({
                  color : '#00a0b0',
                  opacity : 1,
                  weight : 3
                });
                oldlayer.setStyle({
                  color : '#00a0b0',
                  opacity : 1,
                  weight : 3
                });
            }
        });
    </script>

    {% endfor %}

    {% for node in ways_updated %}
    <script>
      var newStyle = {
        color : '#cc333f',
        opacity : 1,
        weight : 3
      };

      $.ajax({
          url: "https://www.openstreetmap.org/api/0.6/way/{{ node }}/full",
          dataType: "xml",
          success: function (xml) {
              var layer = new L.OSM.DataLayer(xml).addTo(map);
              layer.setStyle(newStyle);
          }
      });
    </script>

    {% endfor %}

    <script type="text/javascript">
    $(window).bind("load", function() {
   var options = {
      useEasing : true,
      useGrouping : true,
      separator : ',',
      decimal : '.',
      prefix : '',
      suffix : ''
    };

      var demo = new CountUp("area", 0,"{{ area }}", 0, 3, options);
      demo.start();
      var demo1 = new CountUp("population", 0,"{{ population }}", 0, 5, options);
      demo1.start();
      var demo2 = new CountUp("water", 0,"{{ water }}", 0, 4, options);
      demo2.start();
      var demo3 = new CountUp("mobile", 0,"{{ mobile }}", 0, 3, options);
      demo3.start();
      var demo4 = new CountUp("hospital", 0,"{{ hospitals }}", 0, 3, options);
      demo4.start();
      var demo5 = new CountUp("school", 0,"{{ schools }}", 0, 3, options);
      demo5.start();
    });

    </script>

  </body>
</html>
